# Default owners for the entire repository
*                    @LerianStudio/G_Github_Dev

# Owners for specific directories and files
.github/*            @LerianStudio/G_Github_Devops
.githooks/*          @LerianStudio/G_Github_Devops
components/*         @LerianStudio/G_Github_Dev