# Default owners for the entire repository
*                    @LerianStudio/Dev @LerianStudio/Devops

# Owners for specific directories and files
.github/*            @LerianStudio/Devops
.githooks/*          @LerianStudio/Devops
components/*         @LerianStudio/Dev