.vscode
*__debug_bin1675735721
.DS_Store
.env
components/mdz/bin/mdz
.idea
*.iml
components/ledger/_docker-compose.yml
components/onboarding/_docker-compose.yml
coverage.out
dist/
ide/
.run/onboarding.run.xml
.run/transaction.run.xml
scripts/coverage_ignore.txt
postman/backups
