services:
  midaz-audit-db:
    container_name: midaz-audit-db
    image: mariadb:latest
    environment:
      - MYSQL_DATABASE=${TRILLIAN_DATABASE_NAME}
      - MYSQL_ROOT_PASSWORD=${TRILLIAN_DATABASE_ROOT_PASSWORD}
      - MYSQL_USER=${TRILLIAN_DATABASE_USER}
      - MYSQL_PASSWORD=${TRILLIAN_DATABASE_PASSWORD}
    ports:
      - ${TRILLIAN_DATABASE_PORT}:${TRILLIAN_DATABASE_PORT}
    volumes:
      - audit-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d/:ro
    restart: always

  midaz-audit-server:
    container_name: midaz-audit-server
    depends_on:
      - midaz-audit-db
    image: gcr.io/trillian-opensource-ci/log_server
    command: [
      "--storage_system=mysql",
      "--mysql_uri=${TRILLIAN_DATABASE_USER}:${TRILLIAN_DATABASE_PASSWORD}@tcp(midaz-audit-db:${TRILLIAN_DATABASE_PORT})/${TRILLIAN_DATABASE_NAME}",
      "--rpc_endpoint=0.0.0.0:${TRILLIAN_GRPC_PORT}",
      "--http_endpoint=0.0.0.0:${TRILLIAN_HTTP_PORT}",
      "--alsologtostderr",
    ]
    restart: always
    ports:
      - ${TRILLIAN_GRPC_PORT}:${TRILLIAN_GRPC_PORT}
      - ${TRILLIAN_HTTP_PORT}:${TRILLIAN_HTTP_PORT}

  midaz-audit-signer:
    container_name: midaz-audit-signer
    image: gcr.io/trillian-opensource-ci/log_signer
    depends_on:
      - midaz-audit-db
    command: [
      "--storage_system=mysql",
      "--mysql_uri=${TRILLIAN_DATABASE_USER}:${TRILLIAN_DATABASE_PASSWORD}@tcp(midaz-audit-db:${TRILLIAN_DATABASE_PORT})/${TRILLIAN_DATABASE_NAME}",
      "--rpc_endpoint=0.0.0.0:${TRILLIAN_GRPC_PORT}",
      "--http_endpoint=0.0.0.0:${TRILLIAN_HTTP_PORT}",
      "--force_master",
      "--alsologtostderr",
    ]
    restart: always
    ports:
      - ${TRILLIAN_SIGNER_PORT}:${TRILLIAN_HTTP_PORT}

volumes:
  audit-data:

networks:
  audit_network:
    name: audit_network
    driver: bridge