{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "auto"
}
