<!doctype html>
<html lang="en">
  <head>
    <title>Eslint Report</title>
    <meta charset="UTF-8" />
    <base target="_blank" />
    <link rel="icon" href="https://eslint.org/favicon.ico" />
    <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.8/dayjs.min.js"></script>
    <script src="https://unpkg.com/antd@5.18.0/dist/antd.min.js"></script>
    <script src="https://unpkg.com/pako@2.1.0/dist/pako_inflate.min.js"></script>
    <script
      type="module"
      crossorigin
      src="https://unpkg.com/eslint-formatter-html@2.7.2/dist/index.js"
    ></script>
    <link
      rel="stylesheet"
      crossorigin
      href="https://unpkg.com/eslint-formatter-html@2.7.2/dist/index.css"
    />
  </head>

  <body>
    <div id="app"></div>

    <script>
      window.EslintCwd = 'C:\Users\Dell\Documents\vscode\midaz-console'
      window.EslintCreateTime = 1729909127238
      window.EslintResults = '139,142,5,0'
      window.EslintRulesMeta = '171,174,5,0'
    </script>
  </body>
</html>
