receivers:
  otlp:
    protocols:
      grpc:
        endpoint: ${env:OTEL_COLLECTOR_RECEIVER_ADDRESS}:${env:OTEL_COLLECTOR_RECEIVER_GRPC_PORT}
      http:
        endpoint: ${env:OTEL_COLLECTOR_RECEIVER_ADDRESS}:${env:OTEL_COLLECTOR_RECEIVER_HTTP_PORT}

processors:
  batch:
    send_batch_size: 1024
    timeout: 10s

exporters:
  debug:
  otlp:
    endpoint: midaz-otel-lgtm:${env:OTEL_LGTM_RECEIVER_PORT}
    tls:
      insecure: true

extensions:
  health_check:
    endpoint: ${env:OTEL_COLLECTOR_HEALTH_CHECK_EXTENSION_ADDRESS}:${env:OTEL_COLLECTOR_HEALTH_CHECK_EXTENSION_PORT}
  zpages:
    endpoint: ${env:OTEL_COLLECTOR_ZPAGES_EXTENSION_ADDRESS}:${env:OTEL_COLLECTOR_ZPAGES_EXTENSION_PORT}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, debug]
  extensions: [zpages, health_check]
