services:
  ledger:
    container_name: midaz-ledger-two
    build:
      context: ../../
      dockerfile: ./components/ledger/Dockerfile
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
      - ${PROTO_PORT}:${PROTO_PORT}
    volumes:
      - .:/usr/src/app
    networks:
      - ledger_network
      - auth_network
      - infra_network

networks:
  ledger_network:
    name: ledger_network
    driver: bridge
  auth_network:
    name: auth_network
    driver: bridge
  infra_network:
    name: infra_network
    driver: bridge