services:
  ledger:
    container_name: midaz-ledger
    restart: always
    build:
      context: ../../../
      dockerfile: ./midaz/components/ledger/Dockerfile
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - .:/usr/src/app
    networks:
      - infra-network
      - ledger-network
      - pool-manager-network

networks:
  infra-network:
    name: infra-network
    driver: bridge
    external: true
  ledger-network:
    name: ledger-network
    driver: bridge
  pool-manager-network:
    external: true
