x-postgres-ledger-common:
  &postgres-ledger-common
  image: postgres:16-alpine
  user: ${USER_EXECUTE_COMMAND}
  restart: always
  healthcheck:
    test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
    interval: 10s
    timeout: 5s
    retries: 5
  networks:
    - app-tier

x-mongodb-common:
  &mongodb-common
  image: mongo:latest
  restart: always
  healthcheck:
    test: echo 'db.runCommand("ping").ok'
    interval: 10s
    timeout: 5s
    retries: 5
  networks:
    - app-tier

x-redis-common:
  &redis-common
  image: redis:latest
  env_file:
    - .env
  networks:
    - app-tier

services:
  ledger:
    container_name: midaz-ledger-app
    build:
      context: ../../
      dockerfile: ./components/ledger/Dockerfile
    env_file:
      - .env
    links:
      - redis
      - mongodb
      - primary-ledger
      - replica-ledger
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - .:/usr/src/app
    depends_on:
      redis:
        condition: service_started
      mongodb:
        condition: service_healthy
      primary-ledger:
        condition: service_healthy
      replica-ledger:
        condition: service_healthy
    networks:
      - app-tier

  mongodb:
    <<: *mongodb-common
    container_name: midaz-ledger-nosqldb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - ${MONGO_PORT}:${MONGO_PORT}
    volumes:
      - mongodb_data_container:/data/db

  redis:
    <<: *redis-common
    container_name: midaz-ledger-redis
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}

  primary-ledger:
    <<: *postgres-ledger-common
    container_name: midaz-ledger-db-primary
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256\nhost replication all 0.0.0.0/0 md5"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    command: |
      postgres
      -c wal_level=replica
      -c hot_standby=on
      -c max_wal_senders=10
      -c max_replication_slots=10
      -c hot_standby_feedback=on
    volumes:
      - ./setup/00_init.sql:/docker-entrypoint-initdb.d/00_init.sql

  replica-ledger:
    <<: *postgres-ledger-common
    container_name: midaz-ledger-db-replica
    ports:
      - ${DB_REPLICA_PORT}:${DB_REPLICA_PORT}
    environment:
      PGUSER: ${REPLICATION_USER}
      PGPASSWORD: ${REPLICATION_PASSWORD}
    command: |
      bash -c "
      until pg_basebackup --pgdata=/var/lib/postgresql/data -R --slot=replication_slot --host=primary-ledger --port=${DB_PORT}
      do
        echo 'Waiting for primary-ledger to connect...'
        sleep 1s
      done
      echo 'Backup done..., starting replica-ledger...'
      chmod 0700 /var/lib/postgresql/data
      # Ensure the port is set to 5433 for the replica
      sed -i 's/^#port.*/port = ${DB_REPLICA_PORT}/' /var/lib/postgresql/data/postgresql.conf
      exec postgres -c config_file=/var/lib/postgresql/data/postgresql.conf
      "
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_REPLICA_USER} -d ${DB_REPLICA_NAME} -p ${DB_REPLICA_PORT}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      primary-ledger:
        condition: service_healthy

volumes:
  mongodb_data_container:

networks:
  app-tier: