services:
  onboarding:
    container_name: midaz-onboarding
    restart: always
    build:
      context: ../../
      dockerfile: ./components/onboarding/Dockerfile
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - .:/usr/src/app
    networks:
      - infra_network
      - auth_network
      - onboarding_network

networks:
  auth_network:
    name: auth_network
    driver: bridge
    external: true
  infra_network:
    name: infra_network
    driver: bridge
    external: true
  onboarding_network:
    name: onboarding_network
    driver: bridge
