services:
  midaz-mongodb:
    container_name: midaz-mongodb
    image: mongo:latest
    env_file:
      - .env
    restart: always
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 10s
      timeout: 5s
      retries: 5
    user: root
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - ${MONGO_PORT}:${MONGO_PORT}
    command: [ "sh", "-c", "chmod 400 /data/mongo-keyfile && mongod --replSet rs0 --bind_ip_all --port ${MONGO_PORT}" ]
    volumes:
      - ./mongo/mongo-keyfile:/data/mongo-keyfile
      - mongodb-data:/data/db
    networks:
      - infra-network

  midaz-mongodb-init:
    container_name: midaz-mongodb-init
    env_file:
      - .env
    image: mongo:latest
    depends_on:
      - midaz-mongodb
    volumes:
      - ./mongo/mongo.sh:/data/mongo.sh
    entrypoint: [ "sh", "-c", "chmod +x /data/mongo.sh && sh /data/mongo.sh" ]
    networks:
      - infra-network

  midaz-redis:
    container_name: midaz-redis
    image: valkey/valkey:latest
    restart: always
    env_file:
      - .env
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}",  "--port", "${REDIS_PORT}"]
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    volumes:
      - redis-data:/data
    networks:
      - infra-network

  midaz-postgres-primary:
    container_name: midaz-postgres-primary
    image: postgres:latest
    restart: always
    user: ${USER_EXECUTE_COMMAND}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -p ${DB_PORT}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      PGPORT: ${DB_PORT}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256\nhost replication all 0.0.0.0/0 md5"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    command: |
      postgres
      -c wal_level=logical
      -c hot_standby=on
      -c max_wal_senders=10
      -c max_replication_slots=10
      -c hot_standby_feedback=on
      -c max_connections=${MAX_CONNECTIONS}
      -c shared_buffers=${SHARED_BUFFERS}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - infra-network

  midaz-postgres-replica:
    container_name: midaz-postgres-replica
    image: postgres:latest
    restart: always
    user: ${USER_EXECUTE_COMMAND}
    ports:
      - ${DB_REPLICA_PORT}:${DB_REPLICA_PORT}
    environment:
      PGPORT: ${DB_REPLICA_PORT}
      PGUSER: ${REPLICATION_USER}
      PGPASSWORD: ${REPLICATION_PASSWORD}
    command: |
      bash -c "
      if [ ! -d \"/var/lib/postgresql/data\" ] || [ ! -f \"/var/lib/postgresql/data/postgresql.conf\" ]; then
        until pg_basebackup --pgdata=/var/lib/postgresql/data -R --slot=replication_slot --host=midaz-postgres-primary --port=${DB_PORT}
        do
          echo 'Waiting for midaz-postgres-primary to connect...'
          sleep 1s
        done
      
        echo 'Backup done..., starting midaz-postgres-replica...'
        chmod 0700 /var/lib/postgresql/data
      
        # Ensure the port is set to use for the replica
        sed -i 's/^#port.*/port = ${DB_REPLICA_PORT}/' /var/lib/postgresql/data/postgresql.conf
      
        # Define database max conn
        sed -i 's/^#*max_connections.*/max_connections = ${MAX_CONNECTIONS}/' /var/lib/postgresql/data/postgresql.conf      
      
        # Define database shared buffers
        sed -i 's/^#*shared_buffers.*/shared_buffers = ${SHARED_BUFFERS}/' /var/lib/postgresql/data/postgresql.conf      
      fi
      exec postgres -c config_file=/var/lib/postgresql/data/postgresql.conf
      "
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_REPLICA_USER} -p ${DB_REPLICA_PORT}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      midaz-postgres-primary:
        condition: service_healthy
    volumes:
      - postgres-replica-data:/var/lib/postgresql/data
    networks:
      - infra-network

  midaz-otel-lgtm:
    container_name: midaz-otel-lgtm
    image: grafana/otel-lgtm:latest
    restart: always
    environment:
      GF_SECURITY_ADMIN_USER: ${OTEL_LGTM_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${OTEL_LGTM_ADMIN_PASSWORD}
    ports:
      - ${OTEL_LGTM_EXTERNAL_PORT}:${OTEL_LGTM_INTERNAL_PORT}
      - ${OTEL_LGTM_RECEIVER_GRPC_PORT}:${OTEL_LGTM_RECEIVER_GRPC_PORT}
      - ${OTEL_LGTM_RECEIVER_HTTP_PORT}:${OTEL_LGTM_RECEIVER_HTTP_PORT}
    volumes:
      - grafana-data:/otel-lgtm/grafana/data
      - ./grafana/run-grafana.sh:/otel-lgtm/run-grafana.sh
    networks:
      - infra-network

  midaz-rabbitmq:
    image: rabbitmq:4.0-management-alpine
    container_name: midaz-rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - ${RABBITMQ_PORT_HOST}:${RABBITMQ_PORT_HOST}
      - ${RABBITMQ_PORT_AMPQ}:${RABBITMQ_PORT_AMPQ}
    volumes:
      - ./rabbitmq/etc/definitions.json:/etc/rabbitmq/definitions.json
      - ./rabbitmq/etc/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
      - infra-network

volumes:
  postgres-data:
  postgres-replica-data:
  redis-data:
  grafana-data:
  mongodb-data:

networks:
  infra-network:
    name: infra-network
    driver: bridge