x-postgres-common:
  &postgres-common
  image: postgres:16-alpine
  restart: always
  env_file:
    - .env
  networks:
    - app-tier

services:
  casdoor:
    container_name: casdoor
    image: casbin/casdoor:latest
    env_file:
      - .env
    ports:
      - ${CASDOOR_PORT}:${CASDOOR_PORT}
    volumes:
      - ./setup/init_data.json:/init_data.json
    depends_on:
      casdoor-db:
        condition: service_healthy
    networks:
      - app-tier

  casdoor-db:
    <<: *postgres-common
    container_name: casdoor-db
    ports:
      - ${CASDOOR_DB_PORT}:${CASDOOR_DB_PORT}
    environment:
      PGPORT: ${CASDOOR_DB_PORT}
      POSTGRES_USER: ${CASDOOR_DB_USER}
      POSTGRES_PASSWORD: ${CASDOOR_DB_PASSWORD}
      POSTGRES_DB: ${CASDOOR_DB_NAME}
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    volumes:
      - ./setup/00_init.sql:/docker-entrypoint-initdb.d/00_init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${CASDOOR_DB_USER} -d ${CASDOOR_DB_NAME} -p ${CASDOOR_DB_PORT}" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-tier:
    driver: bridge
    name: app-tier