version: '3.8'

x-postgres-common:
  &postgres-common
  image: postgres:16-alpine
  restart: always
  env_file:
    - .env
  networks:
    - app-tier
  volumes:
    - data:/var/lib/postgresql/data

services:
  postgres:
    <<: *postgres-common

  midaz-keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    command: start
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 8080:8080
    restart: always
    depends_on:
      - postgres
    networks:
      - app-tier
    volumes:
      - ./my-realm.json:/opt/keycloak/data/import/my-realm.json

volumes:
  data:

networks:
  app-tier: