services:
  transaction:
    container_name: midaz-transaction
    restart: always
    build:
      context: ../../
      dockerfile: ./components/transaction/Dockerfile
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - OTEL_EXPORTER_OTLP_ENDPOINT=midaz-otel-lgtm:4317
      - OTEL_ENABLE_TELEMETRY=true
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - transaction-data:/usr/src/app
    networks:
      - infra_network
      - onboarding_network
      - transaction_network

volumes:
  transaction-data:
    name: midaz_transaction-data

networks:
  infra_network:
    name: infra_network
    driver: bridge
    external: true
  onboarding_network:
    name: onboarding_network
    driver: bridge
    external: true
  transaction_network:
    name: transaction_network
    driver: bridge
