name: "homebrew formula bump"

on:
  release:
    types: [released]

jobs:
  bump_formula:
    runs-on: ubuntu-24.04
    steps:
      - name: Update Homebrew Formula
        uses: dawidd6/action-homebrew-bump-formula@v4
        with:
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          formula: mdz