name: "Go Combined Analysis CodeQL/GoLint/GoSec/unit-tests"

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  id-token: write
  contents: read
  pull-requests: read
  actions: read
  security-events: write

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    name: Setup Environment
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: false

      - name: Export Environment Variables
        run: echo "GO_VERSION=1.23" >> $GITHUB_ENV

  GoSec:
    runs-on: ubuntu-latest
    name: Run GoSec Scanner
    needs: setup-environment
    steps:
      - name: Run GoSec
        uses: securego/gosec@master
        with:
          args: ./...

  unit-tests:
    runs-on: ubuntu-latest
    name: Run Unit Tests
    needs: setup-environment
    steps:
      - name: Run Unit Tests
        run: make test

  CodeQL:
    runs-on: ubuntu-latest
    name: Run CodeQL Analysis
    needs: setup-environment
    steps:
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: go
          build-mode: autobuild

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:go"

  GoLangCI-Lint:
    runs-on: ubuntu-latest
    name: Run GoLangCI-Lint
    needs: setup-environment
    steps:
      - name: Setup App Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_APP_ID }}
          private-key: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_PRIVATE_KEY }}

      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.LERIAN_CI_CD_USER_GPG_KEY }}
          passphrase: ${{ secrets.LERIAN_CI_CD_USER_GPG_KEY_PASSWORD }}
          git_committer_name: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          git_committer_email: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Run GoLangCI-Lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          go_version: '1.23'
          tool_name: golint
          level: error
          fail_on_error: true
          reporter: github-pr-review
          filter_mode: diff_context
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ steps.app-token.outputs.token }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GIT_AUTHOR_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
