name: "Midaz E2E Tests"

on:
  push:
    branches:
      - fix/refactor-postman-generation

jobs:
  midaz-e2e-tests:
    name: Run Midaz E2E Tests
    runs-on: firmino-gh-actions-runners
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: false

      - name: Install build essentials
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential

      - uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Generate Swagger and update Postman collection
        run: |
          go install github.com/swaggo/swag/cmd/swag@latest
          swag --version
          make tidy
          make generate-docs

      - name: "Install newman"
        run: |
          npm install -g newman
          npm install -g newman-reporter-ctrf-json

      - name: "Update URLs in Postman environment"
        run: |
          sed -i 's#\"value\": \"{{baseUrl}}:{{onboardingPort}}\"#\"value\": \"https://onboarding.lerian.net\"#' postman/MIDAZ.postman_environment.json
          sed -i 's#\"value\": \"{{baseUrl}}:{{transactionPort}}\"#\"value\": \"https://transaction.lerian.net\"#' postman/MIDAZ.postman_environment.json

      - name: "Run tests"
        run: "newman run postman/MIDAZ.postman_collection.json -e postman/MIDAZ.postman_environment.json -r ctrf/ctrf-report.json"

      - name: Publish Test Report
        uses: ctrf-io/github-test-reporter@v1
        with:
          report-path: './ctrf/*.json'
          summary-report: true
          github-report: true
          failed-report: true
          flaky-report: true
          insights-report: true
          fail-rate-report: true
          flaky-rate-report: true
          slowest-report: true
          previous-results-report: true
          use-suite-name: true
          upload-artifact: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()