name: "packages manager"

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  get_branch:
    runs-on: ubuntu-24.04
    outputs:
      is_main: ${{ steps.get_branch.outputs.is_main }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Verify Branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          CURRENT_BRANCH=$(gh pr view --json headRefName -q ".headRefName" 2>/dev/null || echo ${{ github.ref_name }})
          if [ "$CURRENT_BRANCH" = "main" ]; then
            echo "is_main=true" >> $GITHUB_OUTPUT
          else
            echo "is_main=false" >> $GITHUB_OUTPUT
          fi

  brew_release:
    needs: get_branch
    runs-on: ubuntu-24.04
    if: needs.get_branch.outputs.is_main == 'false'
    steps:
      - name: Run only if NOT main branch
        run: |
          echo "This step runs only on branches other than main"
          echo "The raw_release value is: ${{ env.raw_release }}"
          echo "The formatted_release value is: ${{ env.formatted_release }}"

  chocolatey_release:
    needs: get_branch
    runs-on: ubuntu-24.04
    if: needs.get_branch.outputs.is_main == 'true'
    steps:
      - name: Run only if NOT main branch
        run: |
          echo "This step runs only on the main branch"
          echo "The raw_release value is: ${{ env.raw_release }}"
          echo "The formatted_release value is: ${{ env.formatted_release }}"