name: "homebrew formula bump"

on:
  release:
    types: [released]

jobs:
  brew_release:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    steps:
      - name: Update Homebrew Formula
        uses: dawidd6/action-homebrew-bump-formula@v4
        with:
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          formula: mdz
