name: "packages manager"

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened


jobs:
  verify_release:
    runs-on: ubuntu-24.04
    outputs:
      skip: ${{ steps.check_release.outputs.skip }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Verify Release Source
        id: check_release
        run: |
          echo "DEBUG: GITHUB_REF=${GITHUB_REF}"
          echo "DEBUG: GITHUB_SHA=${GITHUB_SHA}"

          # Extract the tag name
          TAG_NAME=${GITHUB_REF#refs/tags/}

          # Check if the release is beta
          if [[ "$TAG_NAME" == *"-beta"* ]]; then
            echo "skip=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          # Check if the release is hotfix
          if [[ "$TAG_NAME" == *"-hf"* ]]; then
            echo "skip=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          echo "skip=false" >> $GITHUB_OUTPUT
          echo "Release is final and from main branch."