name: Release

on:
  push:
    branches:
      - develop
      - release-candidate
      - main
    paths-ignore:
      - '.gitignore'
      - '**/*.env'   # Ignores all .env files
      - '*.env'      # Ignores .env files in the root directory
      - '**/*.md'    # Ignores all .md files
      - '*.md'       # Ignores .md files in the root directory
      - '**/*.txt'   # Ignores all .env files
      - '*.txt'      # Ignores .env files in the root directory
      - '.github/workflows/**' # Ignores all GitHub Actions workflows
    tags-ignore: ['**']

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  # =========================
  # RELEASE
  # =========================
  release:
    name: Create Release
    uses: LerianStudio/github-actions-shared-workflows/.github/workflows/release.yml@v1.11.0
    with:
      runner_type: "blacksmith-4vcpu-ubuntu-2404"
    secrets: inherit
