name: Release

on:
  push:
    branches:
      - develop
      - release-candidate
      - main
    paths-ignore:
      - '.github/workflows/**'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  # =========================
  # RELEASE
  # =========================
  release:
    name: Create Release
    uses: LerianStudio/github-actions-shared-workflows/.github/workflows/release.yml@v1.10.1
    with:
      runner_type: "blacksmith-4vcpu-ubuntu-2404"
    secrets: inherit
