name: "Unit Tests"

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  id-token: write
  contents: read
  pull-requests: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Run Unit Tests to Midaz
    env:
      WORKING_DIR: components/ledger
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: false

    - name: Unit Tests
      working-directory: ${{ env.WORKING_DIR }}
      shell: bash
      run: make test